<form class="login-form">
  <div class="table-border">
    <h2 class="table-head">Login</h2>
    <div class="table-body">
      <h2>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
      </h2>
      <h2>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </h2>
      <button type="submit" class="loginBtn">Login</button>
      <a href="/signup" class="signupAlt">Sign up instead</a>
    </div>
  </div>

</form>
</form>
<script src="/javascript/login.js"></script>