<form class="signup-form">
  <div class="table-border">
    <h2 class="table-head">Signup</h2>
    <div class="table-body">
      <h2>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </h2>
      <h2>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
      </h2>
      <h2>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </h2>
      <button type="submit" class="signupBtn">Create Account</button>
    </div>
  </div>
</form>
<form>
<script src="/javascript/signup.js"></script>