* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(46, 5, 5);
    padding: 10px;
}

.signupBtn, .loginBtn {
    background-color: inherit;
    color: black;
}

.signupAlt {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: inherit;
}

.wrapper nav a{
    background-color: rgb(46, 5, 5); 
    color:rgb(223, 233, 233);
    font-size: 18px;
    padding: 5px;
    margin: 2.5px;
}

input {
    margin: 5px;
    padding: 5px;
    width: 80%;
}

.border {
    border-radius: 5px; 
    background-color: rgb(46, 5, 5);
    color:rgb(223, 233, 233);
    margin: 10px;
    padding: 2.5px;
    display: flex;
    width: 100%;
}

.comment {
    margin: 52px;
    border: 2px solid black;
  outline-style: outset;
  outline-color: grey;
}

.comment .meta {
    background-color: grey;
    border: solid black;
    margin: 3px;
}

.comment .text {
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    outline-style: outset;
    outline-color: blue;
}

.comment-form, .comment-body {
    margin-left: 52px;
}

.return {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

article {
    align-self: center;
    width: 80%;
    margin: 25px;
    padding: 10px;
}

ol {
    align-self: center;
    text-align: center;
    width: 80%;
}

.meta {
    padding: 5px;
    margin: 5px;
}

.title {
    border-radius: 5px; 
    margin: 10px;
    padding: 2.5px;
}

.title a {
    background-color: rgb(46, 5, 5);
    color:rgb(223, 233, 233);
    text-decoration: none;
    font-size: 24px;
}

.title span {
    margin: 7.5px;
    padding: 5px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}

.table-border {
    border-radius: 5px; 
    background-color: rgb(46, 5, 5);
    color:rgb(223, 233, 233);
    margin: 10px;
    padding: 2.5px;
    align-self: center;
}

.table-head {
    background-color: rgb(46, 5, 5);
    margin: 7.5px;
    padding: 2.5px;
}

.table-body {
    margin: 7.5px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}

.table-body h2 {
    padding: 5px;
}

.login-form {
    border-radius: 5px;
}

button {
    color: rgb(223, 233, 233);
    background-color: inherit;
    border: none;
    font-size: 18px;
    padding: 5px;
    margin: 2.5px;
}

.header{
    border-radius: 5px;
    color: rgb(46, 5, 5); 
    background-color:lightgray;
    max-width: fit-content;
    margin: 5px;
    font: bold;
}

.header a {
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 5px solid darkgray;
    border-right: 5px solid darkgray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 10px;
}

.edit-post-form {
    margin: 5px;
    padding: 5px;
}

.edit-form {
    margin: 5px;
    padding: 5px;
    width: 80%;
}

.edit-title, .edit-body {
    margin: 5px;
    padding: 5px;
    width: 1200px;
}

.edit-header, .comment-form button, .save-post-btn, .delete-post-btn {
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 5px solid darkgray;
    border-right: 5px solid darkgray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 10px;
    background-color: lightgray;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}

.new-post-form {
    border: none;
    padding: 5px;
    margin: 2.5px;
}

.new-post-form label {
    border-radius: 5px;
    border: 3px darkgray solid;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    display: block;
    background-color: lightgray;
    color: black;
}

.new-post-form input {
    padding: 4.5px;
    margin: 3.5px;
    display: flex;
    width: 97.5%;
    border: solid 3px rgb(100, 100, 100);
    border-radius: 10px;
    text-decoration: none;
    border: solid 3px darkgray;
}

.space {
    justify-content: space-between;
}

.post-border {
    border-radius: 5px;
    margin: 10px;
    padding: 2.5px;
    background-color: rgb(100, 100, 100);
    border: black solid 3px;
}

.create-new-post {
    background-color: lightgray;
    max-width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 5px solid rgb(150, 150, 150);
    border-right: 5px solid rgb(150, 150, 150);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

a {
    text-decoration: none;
}

